@page
@model IndexModel
@{
    ViewData["Title"] = "Mvcapp";
    ViewData["Version"] = "0.3";
}

@* <div class="text-left">
    <h1 class="display-4">Welcome</h1> *@
    
    <div>Project: @ViewData["Title"]</div>
    <div>Hostname: @ViewData["Hostname"]</div>
    <div>Request Count : @ViewData["CallCount"]</div>
    <div>Version: @ViewData["Version"]</div>
@* </div> *@
